---
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro';
---
<Layout>
  <section class="py-24 max-w-2xl mx-auto prose prose-lg">
    <Button href="/toolkit" variant="outline" class="mb-10">← Back</Button>

  ## My Guide to AI & Careers

  *It’s 30 minutes.* You have 30 minutes to think about how AI is going to shape your career, don’t you?

  It’s just one episode of your favorite show (mine is **What We Do in the Shadows** btw).

  My goal with this video is to help you understand macro AI trends and start to think strategically about how AI may affect your career.

  <Button href="https://buy.stripe.com/XXX" class="mt-8"> $15 – 30 Min AI Video </Button>
  </section>
</Layout>
