---
// src/components/SectionHeading.astro
---
<h2 class="relative inline-block font-grotesk font-black uppercase text-5xl md:text-6xl tracking-tight mb-12 mt-24">
  <slot />
  <span class="absolute -bottom-4 left-0 block h-2 w-24 bg-cyan-300"></span>
</h2>
