---
// src/components/SectionHeading.astro
---
<h2 class="relative inline-block font-grotesk font-black uppercase text-3xl md:text-4xl">
  <slot />
  <span class="absolute -bottom-2 left-0 block h-1 w-full bg-brand-blue"></span>
</h2>
